<mat-table [dataSource]="dataSource" class="mat-elevation-z4">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
  </ng-container>

  <!-- Buy price Column -->
  <ng-container matColumnDef="buyPrice">
    <mat-header-cell *matHeaderCellDef> Buy price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.buyPrice | price}} </mat-cell>
  </ng-container>

  <!-- Current price Column -->
  <ng-container matColumnDef="currentPrice">
    <mat-header-cell *matHeaderCellDef> Current price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.currentPrice | price}} </mat-cell>
  </ng-container>

  <!-- Total Column -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.total | price}} </mat-cell>
  </ng-container>

  <!-- Win / Loss Column -->
  <ng-container matColumnDef="winLoss">
    <mat-header-cell *matHeaderCellDef> Win / Loss </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.winLoss >= 0" class="win">+{{element.winLoss | price}}</span>
      <span *ngElse class="loss">-{{element.winLoss | price}}</span>
    </mat-cell>
  </ng-container>

  <!-- Win / Loss Percent Column -->
  <ng-container matColumnDef="winLossPercent">
    <mat-header-cell *matHeaderCellDef> Win / Loss (percent) </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span *ngIf="element.winLoss >= 0" class="win">+{{element.winLossPercent}}</span>
      <span *ngElse class="loss">-{{element.winLossPercent}}</span>
    </mat-cell>
  </ng-container>

  <!-- Earned dividends Column -->
  <ng-container matColumnDef="earnedDividends">
    <mat-header-cell *matHeaderCellDef> Earned dividends </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.earnedDividends | price}} </mat-cell>
  </ng-container>

  <!-- ISIN / WKN Column -->
  <ng-container matColumnDef="isinWkn">
    <mat-header-cell *matHeaderCellDef> ISIN / WKN </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isin}} / {{element.wkn}} </mat-cell>
  </ng-container>

  <!-- Idustry Sector Column -->
  <ng-container matColumnDef="industrySector">
    <mat-header-cell *matHeaderCellDef> Idustry sector </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.industrySector}} </mat-cell>
  </ng-container>

  <!-- Created Column -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef> Stock added </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.created | date}} </mat-cell>
  </ng-container>

  <!-- Percent weight Column -->
  <ng-container matColumnDef="percentWeight">
    <mat-header-cell *matHeaderCellDef> Percent weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{((element.total / sums.total) * 100).toFixed(2)}}%</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>