<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- ISIN Column -->
  <ng-container matColumnDef="isin">
    <mat-header-cell *matHeaderCellDef> ISIN </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.isin}} </mat-cell>
  </ng-container>

  <!-- WKN Column -->
  <ng-container matColumnDef="wkn">
    <mat-header-cell *matHeaderCellDef> WKN </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.wkn}} </mat-cell>
  </ng-container>

  <!-- Idustry Sector Column -->
  <ng-container matColumnDef="industrySector">
    <mat-header-cell *matHeaderCellDef> Idustry sector </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.industrySector}} </mat-cell>
  </ng-container>

  <!-- Created Column -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef> Stock added </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>