
<div class="app-container">
  <mat-card class="header">
    <h1>Stockslist</h1>
    <div class="header--account">
      <h2 *ngIf="account">{{account.name}}</h2>
      <h2 *ngIf="sums">{{sums.winLossPercent}}</h2>
    </div>
  </mat-card>
  <mat-card class="chart">
    <mat-card-header>
      <h2>Chart</h2>
    </mat-card-header>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="general-info">
    <mat-card-header>
      <h2>Genaral info</h2>
    </mat-card-header>
    <mat-card-content>
      <app-general-info></app-general-info>
    </mat-card-content>
  </mat-card>
  <mat-card class="data-table">
    <mat-card-header>
      <h2>Stocks</h2>
    </mat-card-header>
    <mat-card-content>
      <app-data-table></app-data-table>
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>