
<div class="app-container">
  <mat-card class="mat-elevation-z4 header">
    <h1>Stockslist</h1>
    <div class="header--account">
      <h2 *ngIf="account">{{account.name}}</h2>
      <span *ngIf="sums">
        <h2 *ngIf="sums.winLoss >= 0; else lossPercent" class="win">+{{sums.winLossPercent}}</h2>
        <ng-template #lossPercent>
          <h2 #lossPercent class="loss">{{sums.winLossPercent}}</h2>
        </ng-template>
      </span>
    </div>
  </mat-card>
  <mat-card class="mat-elevation-z4 chart">
    <app-chart></app-chart>
  </mat-card>
  <mat-card class="mat-elevation-z4 general-info">
    <mat-card-header>
      <h2>Genaral info</h2>
    </mat-card-header>
    <mat-card-content>
      <app-general-info></app-general-info>
    </mat-card-content>
  </mat-card>
  <app-data-table class="mat-elevation-z4 data-table"></app-data-table>
</div>

<router-outlet></router-outlet>

<div class="overlay"></div>
