
.app-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 1rem;
}

.header {
    grid-column: span 6;
    &--account {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

.chart {
    grid-column: span 5;
}

.general-info {
    grid-column: span 1;
}

.data-table {
    grid-column: span 6;
}