<div class="general-info-content">
    <div *ngIf="sums">
        <div class="general-info-content--rows">
            <h3>Total:</h3> {{sums.total | price}}
        </div>
        <div class="general-info-content--rows">
            <h3>Total incl. dividends:</h3> {{sums.totalInclDividends | price}}
        </div>
        <div class="general-info-content--rows">
            <h3>Invested:</h3> {{sums.invested | price}}
        </div>
        <div class="general-info-content--rows">
            <h3>Total +/-:</h3> 
            <div>
                <span *ngIf="sums.winLoss >= 0; else loss" class="win">+{{sums.winLoss | price}}</span>
                <ng-template #loss>
                    <span class="loss">{{sums.winLoss | price}}</span>
                </ng-template>
                <span *ngIf="sums.winLoss >= 0; else lossPercent" class="win"> (+{{sums.winLossPercent}})</span>
                <ng-template #lossPercent>
                    <span class="loss"> ({{sums.winLossPercent}})</span>
                </ng-template>
            </div>
        </div>
    </div>
    <!--<button mat-raised-button color="primary">New entry</button>-->
</div>