
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%; 
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ededed;
}

.win {
    color: green;
}

.loss {
    color: red;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}
